
.p-column-filter-buttonbar :nth-child(2) {
    -webkit-appearance: button;
    background-color:#007ad9 ;
    background-image: none;
}

.p-picklist-buttons button {
    -webkit-appearance: button;
    background-color:#007ad9 ;
    background-image: none;
}
