<div>
    <p-button   label="Утвердить заявку №{{selectedRequest.request?.number}} в ручном режиме" (onClick)="acceptClick()" styleClass="p-button-warning p-button-rounded mb-4 mr-4" icon="pi pi-pencil" ></p-button>
    <p-button   label="Утвердить заявку №{{selectedRequest.request?.number}} в автоматическом режиме" (onClick)="acceptClick()" styleClass="p-button-warning p-button-rounded mb-4" icon="pi pi-pencil" ></p-button>

</div>
<div class="main-grid gap-4">
    <div >
        <p-listbox #requestListBox [options]="requestsShared"    [filter]="false"  [(ngModel)]="selectedRequest" [multiple]="false" optionLabel="name" filterBy="label"  [listStyle]="{'max-height':'30vh'}" (onChange)="onChangeRequest($event)">
            <ng-template pTemplate="header" >
                <div class="font-bold">
                    Необработанные заявки
                    <p-dropdown [options]="priorities" pTooltip="Приоритет"  [(ngModel)]="selectedPriorities" placeholder="Приоритет"   class="mb-4" optionLabel="name" ></p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue" (keyup)="options.filter($event)">
                </div>
                <button pButton icon="pi pi-times" class="ml-3" (click)="myResetFunction(options)"></button>
            </ng-template>
            <ng-template let-request pTemplate="item">
                <div class="country-item">
                    <div>Заказ №{{request.request.number}}</div>
                </div>
            </ng-template>     
        </p-listbox>
    </div>
    <div class="row-start-2">
        <p-listbox [options]="products"  [(ngModel)]="selectedProduct" [multiple]="false" optionLabel="caption" filterBy="label"  [listStyle]="{'max-height':'30vh'}">
            <ng-template pTemplate="header" >
                <div class="font-bold">
                    Состав заказа
                </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue" (keyup)="options.filter($event)">
                </div>
                <button pButton icon="pi pi-times" class="ml-3" (click)="myResetFunction(options)"></button>
            </ng-template>
            <ng-template let-product pTemplate="item">
                <div class="country-item">
                    <div class="flex flex-row">
                        <div class="w-36">Наименование</div>
                        <div>{{product.caption}}</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="w-36">Кол-во деталей</div>
                        <div>{{product.quantity}}</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="w-36">Код</div>
                        <div>{{product.code}}</div>>
                    </div>                                  
                </div>
            </ng-template>     
        </p-listbox>
        <div>
            <p class="font-bold">Время фрезерования: {{timeFrez}} секунд </p>
        </div>
        <div>
            <p class="font-bold">Время точения:{{timeTokerov}} секунд</p>
        </div>
        <div>
            <p class="font-bold">Итог:{{timeAll}} секунд</p>
        </div>
    </div>

    <div class="row-span-3 col-span-1" style=" max-height: 75vh;">
        
        <p-pickList  [dragdrop]="true"
            [style]="{'max-height':'80vh'}"
            sourceHeader="Назначенные станки"  targetHeader="Все станки" [source]="selectedRequest.selectedMachines" [target]="selectedRequest.machines">
            <ng-template let-machin pTemplate="item">
                <div class="product-item flex flex-row">
                    <!-- <img class="pi pi-user" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
                    <i class="pi pi-window-maximize mr-4" *ngIf="machin.machineTypeCaption=='токарный станок'" ></i>
                    <i class="pi pi-window-minimize mr-4" *ngIf="machin.machineTypeCaption=='фрезерный станок'" ></i>
                    <div style="font-size:14px;float:right;" class="w-16" >{{machin.id}}</div>
                    <div style="font-size:14px;float:right;">{{machin.machineTypeCaption}}</div>
                </div>
            </ng-template>
        </p-pickList>
    </div>

    <!-- <div class="row-span-3 col-span-1">
        <p-listbox [options]="machine"  [multiple]="false" optionLabel="Id" filterBy="label"  [listStyle]="{'max-height':'80vh'}">
            <ng-template pTemplate="header" >
                <div class="font-bold">
                    Станки
                </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue" (keyup)="options.filter($event)">
                </div>
                <button pButton icon="pi pi-times" class="ml-3" ></button>
            </ng-template>
            <ng-template let-machin pTemplate="item">
                <div class="country-item">
                    <div>№</div>
                    <div>{{machin.id}}</div>
                    <div>Тип</div>
                    <div>{{machin.machineTypeCaption}}</div>
                    <div>Состояние</div>
                    <div>{{machin.state}}</div>
                </div>
            </ng-template>     
        </p-listbox>
    </div> -->
</div>