
<p-dialog header="Назначение выполняющего по заявке № {{claim.id}}" [(visible)]="visibleSelectExecutor" >
    <div class="main-grid mt-4" style="height: 25vh; width: 65vh;">
       
        <div   class="grid   col-start-2 row-start-2">

            <span class="p-float-label mb-6">
                <input id="float-input-name" readonly="true"  [(ngModel)]="claim.contractorName"  pInputText class="w-full shadow-md"> 
                <label for="float-input-name" >Инициатор</label>
            </span>

            <span class="p-float-label mb-6">
                <p-dropdown  [style]="{'width':'640px'}"  [options]="executorsList" [(ngModel)]="selectedExecutor" placeholder="Выполняющий" optionLabel="nameClient" >
                    <ng-template let-type pTemplate="item" >
                        <div class="country-item flex flex-row"  >
                            <img src="assets/submit_support_request.png"  />
                            <div class="ml-2">{{type.nameClient}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>  
            </span>

            <button label="Сохранить" class="transition duration-700 ease-in-out"  (click)="visibleSelectExecutor = false; commandExecutorSave();" 
              pButton class="shadow-md"></button>
            
        </div>
    </div>

</p-dialog>

<p-dialog header="Отказать заявку № {{claim.id}}" [(visible)]="visibleCancelClaim" >
    <div class="main-grid mt-4" style="height: 25vh; width: 65vh;"> 
        <label for="float-input-name" >Причина отказа</label>
        <div   class="grid   col-start-2 row-start-2">
                <textarea [rows]="5" [cols]="30" class="w-30" [(ngModel)]="claim.comment"  pInputTextarea ></textarea>
                <button pButton type="button" label="Отказать"(click)="visibleCancelClaim = false; commandCancelClaim()"  class="p-button-danger p-button-outlined"></button>
            
        </div>
    </div>

</p-dialog>


<p-dialog header="Просмотр карточки" [(visible)]="visible" >
    <div class="main-grid mt-4" style="height: 40vh; width: 65vh;">
       
        <div   class="grid   col-start-2 row-start-2">

            <span class="p-float-label mb-6">
                <input id="float-input-name" readonly="true" [(ngModel)]="claim.author"  pInputText class="w-full shadow-md"> 
                <label for="float-input-name" >Инициатор</label>
            </span>

            <span class="p-float-label mb-6">
                <input id="float-input-name"  readonly="true" [(ngModel)]="claim.state_code"  pInputText class="w-full shadow-md"> 
                <label for="float-input-name" >Рабочее место</label>
            </span>
    
            <span class="p-float-label mb-6">
                <input id="float-input-password"  readonly="true" [(ngModel)]="claim.text"   pInputText class="w-full shadow-md"> 
                <label for="float-input">Текст обращения</label>
            </span>
    
            <span class="p-float-label mb-6">
                <input id="float-input-password" readonly="true" [(ngModel)]="claim.number"   pInputText class="w-full shadow-md"> 
                <label for="float-dropdown">Тип заявки</label>
            </span>

            <span class="p-float-label mb-6">
                <input id="float-input-password" readonly="true" [(ngModel)]="claim.state"   pInputText class="w-full shadow-md"> 
                <label for="float-dropdown">Тип заявки</label>
            </span>
            <!-- <span class="p-float-label mb-6">
                <p-calendar  ></p-calendar>
                <label for="float-dropdown">Исполнить до:</label>
            </span> -->
    
          
            <button label="Закрыть" class="transition duration-700 ease-in-out" (click)="visible = false" 
              pButton class="shadow-md"></button>
            
        </div>
    </div>

</p-dialog>
<!-- [globalFilterFields]="['id','typeClaim','text','priorities', 'placeOfService', 'author', 'executor', 'state']" -->
<p-table #dt  [metaKeySelection]="true"
    (onRowSelect)="onSelected()"
    selectionMode="single" 
            [value]="customers" dataKey="id" styleClass="p-datatable-customers"  [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
            [(selection)]="selectedProduct1"
            [paginator]="true" currentPageReportTemplate="Показ с {first} по {last} из {totalRecords} страниц"
            [filterDelay]="0" [globalFilterFields]="['id', 'number','text', 'description', 'state_code', 'contractorName', 'create_date','state']">
            <ng-template pTemplate="caption">
                <div class="table-header grid grid-cols-3">
                    <div class="flex flex-row">
                        <div class="my-auto mr-4">
                            Список заявок 
                        </div>
                         
                        <button pButton label="Обновить" class="p-button-outlined mr-4" (click)="refeshBtn()" icon="pi pi-refresh" ></button>
                        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2 p-button-info" pTooltip="CSV" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-pdf"  class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                        <button pButton type="button" tooltipPosition="bottom" pTooltip="Просмотр заявки" (click)="openDialogView(selectedProduct1)" class="p-button-secondary mr-4" icon="pi pi-cog"></button>
                        <button pButton type="button" tooltipPosition="bottom" pTooltip="Назначение исполнителя" *ngIf="roleid==3 || roleid==5"  (click)="openDialogSelectExecutor(selectedProduct1)" class="p-button-info mr-4" icon="pi pi-user"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Взять в работу" *ngIf="roleid==2" (click)="inWork(selectedProduct1)" class="p-button-warning mr-4" icon="pi pi-check-square"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Подтвердить выполнение" *ngIf="roleid==2" (click)="acceptClaim(selectedProduct1)" class="p-button-success mr-4" icon="pi pi-check-square"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Отказать заявку" *ngIf="roleid==2" (click)="showDialogCancelClaim(selectedProduct1)" class="p-button-danger mr-4" icon="pi pi-lock"></button>                    
                   
                    </div>
                    <div class="flex">
                        
                    </div>
                    <div class="grid col-start-3 col-span-2">
                 <span class="p-input-icon-left" >
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  class="w-full" (input)="filterGlobal()" [(ngModel)]="globalText" placeholder="Поиск по таблице" />
                    </span>
                     </div>  
                </div>         
            </ng-template>
            <ng-template pTemplate="header">
                <tr >
                    <th pSortableColumn="id" style="min-width:10px">
                        <div class="flex justify-content-center align-items-center">
                            №
                            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                            <p-sortIcon field="id" ></p-sortIcon>
                        </div>
                     
                    </th>
                    <th pSortableColumn="number" style="min-width:100px">
                        <div class="flex justify-content-center align-items-center">
                            Номер заявки
                            <p-columnFilter type="text" field="number" display="menu"></p-columnFilter>
                            <p-sortIcon field="number"></p-sortIcon>
                        </div>
                     
                    </th>
                 
                    <th pSortableColumn="contractorName" style="min-width:100px"> 
                        <div class="flex justify-content-center align-items-center">
                            Контрагент 
                            <p-columnFilter type="text" field="contractorName" display="menu"></p-columnFilter>
                            <p-sortIcon field="contractorName"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="releaseDate" style="min-width:100px">
                        <div class="flex justify-content-center align-items-center">
                            Дата создания 
                            <p-columnFilter type="text" field="releaseDate" display="menu"></p-columnFilter>
                            <p-sortIcon field="releaseDate"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="stateCaption" style="min-width:100px"> 
                        <div class="flex justify-content-center align-items-center">
                            Статус 
                            <p-columnFilter type="text" field="stateCaption" display="menu"></p-columnFilter>
                            <p-sortIcon field="stateCaption"></p-sortIcon>
                        </div>
                    </th>

              
                    <th style="width: 8rem" ></th>
                </tr>
               
            </ng-template>
            <ng-template  pTemplate="body" let-customer>
                <tr [pSelectableRow]="customer" >
        
                    <td>
                        <span class="p-column-title">№</span>
                        {{customer.id}}
                    </td>
                    <td>
                        <span class="p-column-title">Номер заявки</span>
                        <span class="image-text">{{customer.number}}</span>
                    </td>

    
                    
                
                    <td>
                        <span class="p-column-title">Инициатор</span>
                        <span [class]="'customer-badge status-' + customer.status">{{customer.contractorName}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Дата создания</span>
                        {{customer.releaseDate}}
                    </td>
                    <td>
                        <span class="p-column-title" >Статус</span>
                        <p-chip label="{{customer.stateCaption}}" icon="pi pi-cog" *ngIf="customer.stateCaption==null"  tooltipPosition="bottom" pTooltip="{{customer.stateCaption}}" ></p-chip>
                        <p-chip label="{{customer.stateCaption}}" icon="pi pi-cog" *ngIf="customer.stateCaption!=null" tooltipPosition="bottom" pTooltip="{{customer.stateCaption}}" ></p-chip>
                        
                    </td>

                    
                    
                    <!-- <td>
                        <span class="p-column-title">Activity</span>
                        <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
                    </td> -->
                    <td style="text-align: center">
                        <button pButton type="button" tooltipPosition="bottom" pTooltip="Просмотр заявки" (click)="openDialogView(customer)" class="p-button-secondary mr-4" icon="pi pi-cog"></button>
                        <button pButton type="button" tooltipPosition="bottom" pTooltip="Назначение исполнителя" *ngIf="roleid==3 || roleid==5"  (click)="openDialogSelectExecutor(customer)" class="p-button-info mr-4" icon="pi pi-user"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Взять в работу" *ngIf="roleid==2" (click)="inWork(customer)" class="p-button-warning mr-4" icon="pi pi-check-square"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Подтвердить выполнение" *ngIf="roleid==2" (click)="acceptClaim(customer)" class="p-button-success mr-4" icon="pi pi-check-square"></button>
                        <button pButton type="button" tooltipPosition="bottom"  pTooltip="Отказать заявку" *ngIf="roleid==2" (click)="showDialogCancelClaim(customer)" class="p-button-danger mr-4" icon="pi pi-lock"></button>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">Заявки не найдены.</td>
                </tr>
            </ng-template>
        </p-table>